<h1>Editing House</h1>

<%= render 'form' %>

<%= link_to 'Show House', @house %> |
<%= link_to 'Back to Houses List', houses_path %>
<% if current_user.admin%>
    | <%= link_to 'Delete House', @house, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
