<h1>Editing user</h1>

<%= render 'form' %>

<br>
<%= link_to 'Show User', @user %> |
<%= link_to 'Back to Users', users_path %>
<% if current_user.admin %>
    | <%= link_to 'Back to Admin', settings_path %>
<% end %>
