<h1>New Resident</h1>

<%= render 'form' %>


<%= link_to 'View Houses', houses_path %> |
<%= link_to 'View Newest Resident', @recent %>
<% if current_user.admin%>
    | <%= link_to 'View Residents', residents_path %>
<% end %>