<div class="row">
<div class="col-md-6">
<%= form_tag("index", method: "get") do %>
		<label class="control-label">Sort by houses</label>
      <%= collection_select nil, :house_id,  @houses, :id, :name, {:include_blank => 'All Houses', :selected => current_user.house_id}, {:class => 'house_select form-control'} %>
  </div>
  <div class="col-md-6">
  	<label class="control-label">Sort by residents</label>
  	<%= collection_select nil, :resident_id, @residents, :id, :name,
                                               {:include_blank => 'All Residents'}, {:class => 'residents_select form-control'} %>
<% end %>
</div>
</div>

