<%= form_tag("index", method: "get") do %>
  <div class = "field">
  <%= collection_select nil, :house_id,  @houses, :id, :name, {:prompt => 'Select a House' }, {:class => 'house_select'}%></div>
  <div id = "residents"><%= render :partial => 'residents', :object   => @residents %></div>
<% end %>

