console.log("hellllllllllllllloooooooooooooo");
$('#newEventModal').modal('hide');
//$('#select_type_chosen').empty();
console.log(<%=AptType.all.count%>);
<% AptType.all.each do |typ| %>
  console.log("hi!");
  $('#select_type_chosen').append($('<option value=' + <%= typ.apt_type %> + '><%= typ.apt_type %></option>'));
<% end %>
$('#select_type_chosen').trigger('liszt:updated');
