console.log("hellllllllllllllloooooooooooooo");
$('#newEventModal').modal('hide')
console.log(<%=AptType.all.count%>);
<% AptType.all.each do |typ| %>
  console.log("hi!");
  $('#select_type_chosen').prepend($('<option value="<%= typ.apt_type %>"><%= typ.apt_type %></option>'));
<% end %>
$('#select_type_chosen').chosen().trigger("chosen:updated");
