console.log("hellllllllllllllloooooooooooooo");
$('#newEventModal').modal('hide');
$('#select_type').empty();
<% AptType.all.each do |typ| %>
  console.log("hi!");
  $('#select_type').append($('<option value=' + <%= typ.id %> + '><%= typ.apt_type %></option>'));
<% end %>
$('#select_type').trigger('chosen:updated');
