<h1>Coworker Appointments</h1>
<p>
  Download:
  <%= link_to "CSV", appointments_path(format: "csv") %>
</p>
<%= render 'filter' %>
<h4><%= link_to 'New Appointment', new_appointment_path %></h4>
<div class="row">
  <div id="upcoming">
  <%= render 'upcoming' %>
  </div>
<div id="textDiv" class = "col-md-8 col-md-pull-4"> </div>
<div id="fullCalendar" class="col-md-8 col-md-pull-4">
</div>
</div>

<hr>
