$('.residents_select').empty();
$('.residents_select').append ( $('<option value = "">Select a Coworker</option>') );
<% @residents.each do |res| %>
  $('.residents_select').append($('<option value="<%= res.id %>"><%= res.name %></option>'));
<% end %>
