<div class="row">
<div class="col-md-12">
<h3>Car Reservations<small><% if current_user.admin %>
	<%= link_to '(Manage Cars)', manage_cars_path, method: :post %>
<% end %></small></h3>

<%= button_to 'New Reservation', new_reservation_path, class: "btn btn-primary" %><br>

<div id="reservationCalendar">
</div>
</div>
</div>
