<h3>Car Reservations</h3>
<p>
  <%= button_to 'New Reservation', new_reservation_path, class: "mobile-size" %>
</p>

<% if current_user.admin %>
    <p>
      <%= button_to 'Manage Cars', manage_cars_path, class: "mobile-size" %>
    </p>
<% end %>

<div id="reservationCalendar">
</div>
