<h3>Car Reservations</h3>
<p>
  <%= button_to 'New Reservation', new_reservation_path, class: "mobile-size" %>
</p><p>
  <%= button_to 'New Car', new_car_path, method: :get, class: "mobile-size" %>
</p>

<div id="reservationCalendar">
</div>
