<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>

<body>
 <h1>Reports Generation</h1>
</body>
</html>

<%= render 'form' %>

<script type="text/javascript">
jQuery(function($){
	$(document).ready(function() {
	$( "#datepicker" ).datepicker();
	$( "#datepicker2" ).datepicker();
	});
});
</script>
