$('.doctors_select').empty();
$('.doctors_select').append ( $('<option>Select a doctor</option>') );
<% @doctors.each do |doctor| %>
  $('.doctors_select').append($('<option value="<%= doctor.id %>"><%= doctor.name %></option>'));
<% end %>
